* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

.lista{
  display: flex;
  gap: 20px;
  flex-wrap:  wrap;
  justify-content: space-between;
}

.itemLista{
  display:flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #cecbcb;
  border-radius: 5px;
  align-items: center;
}