.user-card {
  width: 400px;
  height: 400px;
  border: 1px solid gray;
  margin: 20px;
  float: left;
}
.user-card img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}
.user-card h3 {
  text-align: center;
}
.user-card p {
  padding: 10px;
}